@model JobPortal.Models.View_Models.EditQualificationViewModel

@{
    ViewData["Title"] = "Qualifications Details";
}

<h1>Edit</h1>

<h4>Qualification Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<input type="hidden" asp-for="QualificationId" />*@
            <div class="form-group">
                <label asp-for="TenthPercentage" class="control-label"></label>
                <input asp-for="TenthPercentage" class="form-control" />
                <span asp-validation-for="TenthPercentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TwelthPercentage" class="control-label"></label>
                <input asp-for="TwelthPercentage" class="form-control" />
                <span asp-validation-for="TwelthPercentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HighestQualifcation" class="control-label"></label>
                <input asp-for="HighestQualifcation" class="form-control" />
                <span asp-validation-for="HighestQualifcation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
